{% if session.username %}
<a href="/new">Uusi kirja</a>
<hr>
{% for book in books %}
Kirja: {{ book.topic }} <br>
Luettu: {{ book.created_at.strftime("%Y-%m-%d") }} <br>
<a href="/write/{{ book.id }}">Lisää kommenttti</a> |
<a href="/result/{{ book.id }}">Lue kommentit</a> |
<a href="/delete/{{ book.id }}">Poista kirja</a> <br>
<hr>
{% endfor %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}

