{% extends "layout.html" %}
{% block title %}Rekisteröityminen{% endblock %}
{% block content %}
<h2>Rekisteröityminen</h2>
<form action="/register" method="post">
    Tunnus: <input type="text" name="username" required minlength="1" maxlength="10">
    <p>
    Salasana: <input type="password" name="password1" required minlength="1" maxlength="10">
    <p>
    Salasana uudestaan: <input type="password" name="password2">
    <p>
    <input type="submit" value="Luo tunnus">
    </form>
    {% endblock %}
